@media (max-width:768px)
{
	.top
	{
		width:100% !important;
	}
	#header
	{
		width:100% !important;
	}
	.orioncode
	{
		margin: 0 auto !important;
	}
	.topimg
	{
		width:90% !important;
		margin:10px auto 0 !important;
	}
	.imprimg
	{
		width:90% !important;
		margin:0 auto !important;
	}
	h2.headline
	{
		font-size:18px !important;
	}
	.embed-container
	{
		width:90% !important;
		margin: 20px auto 0 !important;
	}
	#YouTubeVid
	{
		width:100% !important;
	}
	.footer
	{
		width:100% !important;
		margin:0 auto !important;
	}
	.footerimg
	{
		width:90% !important;
		margin:0 auto !important;
		max-width:90% !important;
	}
	.counttimer
	{
		width:90% !important;
		margin:0 auto !important;
	}
	.countdown
	{
		width:90% !important;
		margin:0 auto;
	}
	
}
@media (max-width:500px)
{
	.top
	{
		width:90% !important;
		margin:0 auto !important;
	}
	.imprimg
	{
		width:90% !important;
		height:80px;
		margin:0 auto !important;
	}
	.embed-container
	{
		width:90% !important;
		margin: 20px auto 0 !important;
	}
	h2.headline
	{
		font-size:12px !important;
	}
	h1.headline
	{
		font-size:12px !important;
	}
	#home form input
	{
		height:50px !important;
		background-position:0px -4px !important;
	}
	form .btn
	{
		padding:10px !important;
	}
	#YouTubeVid
	{
		width:100% !important;
	}
	#textname
	{
		float:none !important;
		width:90% !important;
		margin:0 auto 5px !important;
	}
	#textemail
	{
		float:none !important;
		width:90% !important;
		margin:0 auto 5px !important;
	}
	#submitbtn
	{
		width:90% !important;
		font-size:12px !important;
		margin:0 auto 5px !important;
	}
	.footerimg
	{
		width:90% !important;
		height:40px !important;
		max-width:90% !important;
		margin:0 auto !important;
	}
	.submitbtn
	{
		font-size:16px !important;
	}
	.namebtn
	{
		width:100% !important;
	}
	.emailbtn
	{
		width:100% !important;
	}
	.securityimg
	{
		width:90% !important;
		margin:0 auto !important;
		max-width:90% !important;
	}
	h2.headline
	{
		line-height:20px !important;
	}
}
@media (max-width:400px)
{
	.submitbtn
	{
		font-size:12px !important;
	}
}