body, html {
	background:#000;
	color:#000;
	font:400 14px "Open Sans";
	height:100%;
	margin:0;
	padding:0;
}
a {
	color:#886a9a;
	text-decoration:underline;
 }
a:hover {
	color:#000;
}
.stripe {
	width:100%;
	height:1px;
	margin:0;
	padding:0;
	background:#e3e3e3;
}
.city-bg {
	width:100%;
		background:#fff url('../img/bg.jpg') no-repeat;
	background-size:cover;
}
#home .city-bg {
}
#members .city-bg {
	margin-bottom:30px;
}
.container {
	position:relative;
}
.testimonial {
	width: 50%;
float: left;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
#home .footer {
	margin-top:10px;
	margin-bottom:30px;
}
@media (max-width:1199px) {
	.exit .city-bg h1 {
		font-size:57px !important;
	}
}
@media (max-width:1199px) {
  .testimonial {
	width: 48%;	
	margin-left:1%;
	margin-right:1%;
  }
}
@media (max-width:750px) {
  .testimonial {
	width: 100%;	
  }
}
.testimonial img {
	max-width:100%;
}
h1.headline{
font: 400 45px "Roboto Condensed";
color: #333;
width: 100%;
margin-top: 45px;
margin-bottom:35px;
text-align: center;
text-transform:uppercase;
}
.formbg2 h1.headline {
	color:#fff;
	
text-transform:none;
}
#members .formbg2 h1.headline {
	margin-bottom: 15px;
}
h1.headline strong {
	font-weight:900;
	color:#000;
}
.steps h1.headline {
color:#000;
}
.highlight {
background-color:fff6c8 !important;
}
.steps h1.headline strong {
color:#000;
font-size:30px;
}
.steps h4 {
	color:#fff;
}
.steps .titles {
	color:#fff;
		font: 700 25px "Roboto Condensed";
		letter-spacing:0;
		text-shadow:1px 1px 2px rgba(0,0,0,.3)
}

.steps .titles p {
	color:#fff;
		font: 400 14px "Open Sans";
		margin-top:10px;
		
		text-shadow:1px 1px 0x rgba(0,0,0,.5)
}
h2.headline {
	font: 700 29px "Roboto Condensed";
color: #49484b;
width: 100%;
margin-top: 24px;
text-align: right;
margin-bottom: 0;
line-height: 40px;
}
#index-form h1 a {
	pointer-events:none;
}
#members h2.headline {
	margin-top: 13px;
}
.headline a {
	color:#0074b3 !important;
	pointer-events:none;
}
.glasses {
	width:421px;
	height:195px;
	background:url('../img/glasses.png.html') no-repeat;
	position: absolute;
	margin-top: -58px;
}
.form-text{
	font:100 13px/21px "Open Sans";
	color:#fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
	margin-bottom: 12px;
}
@media (max-width:1199px) {
	.form-text {
		text-align:center;
	}
}
.form-text h1 {
	font:100 23px "Open Sans";
	color:#de0000;
	border-bottom:1px dashed #b3a29a;
	text-shadow:0 0;
	padding-bottom: 10px;
	letter-spacing: 0.6pt;
	margin:12px 0 10px 0;
}

.form-title {
	font:100 44px "Open Sans";
	color:#494949;
	letter-spacing:-0.4pt;
}
.form-title strong {
	color:#c70920;
	font-weight:100;
}
.no-card {
	text-align:center;
	margin:24px 0 24px 0;
	color:#6a6a6a;
	font:600 17px "Open Sans";
}
.top {
	background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%;
	margin:0;
}
.top h3 {
	font-size: 19px;
text-align: right;
margin-top: 0;
}

.top h3 a {
	pointer-events:none;
}
.embed-container { position: relative; border:3px solid #000;-webkit-box-shadow:0 0 23px 0 rgba(0,0,0,0.49);
box-shadow: 0 0 23px 0 rgba(0,0,0,0.49);
border-radius: 4px;
padding-bottom: 53%;
height: 0;
overflow: hidden;
max-width: 100%;
max-width: 646px;
max-height: 372px !important;
margin-top: 30px; }

.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; max-height: 360px !important;}

#members .embed-container {
	margin-top: 15px;
}
@media (max-width:990px) {
	.top {
		height:auto;
        padding-bottom:12px;

}


.counter-stripe {
padding-bottom:1px;

text-align:right;
color:#fff;
}
.counter-stripe h1 {
font: 100 46px "Open Sans";
text-transform: uppercase;
padding-top: 0px;
border-bottom: 1px dashed #B3A29A;
padding-bottom: 8px;
margin-bottom: 0px;
width: 100%;
}
#members .counter-stripe h1 {
	text-align:left;
	border:0;
		margin-top:-10px;
}
#members .counter-stripe {

}
}
@media (max-width:1199px) {
	.right {
	padding:0;	
	}
}
@media (min-width:1200px){
	.page-header,
	.qualification-box .box  {
	height:88px;
	}
}
@media (max-width:1199px) {
	.page-header {
	height:126px;
	}
}
.main-wrapper {
	width:100%;
	height:455px;
	background:#4793e0;
}
@media (max-width:1260px) {
	.main-wrapper {
		height: auto;
	}
}
.video-wrapper {
	float:right;
	width:670px;
	height:416px;
	/*background:url('../img/video.png.html');*/
	margin-top:23px;
}
.video {
	width: 640px;
	height: 362px;
	margin: 0 auto;
margin-top: 16px;
margin-left:15px;
}
.timeClass {
	font-family:"Open Sans";
	font-weight:800;
	color:#e91111;
}
.form {
	font:400 25px 'Open Sans';
	color:#002139;
	text-align:center;
	line-height: 23px;
	/*float: right;*/
}
/*@media (min-width:991px) {*/
	/*.form {*/
		/*width: 350px;*/
	/*}*/
/*}*/
.form h2 {
	font: 300 25px/1.1 'Open Sans';
color: #fff;
letter-spacing: -0.2pt;
margin-top: 30px !important;
margin-bottom: 0 !important;
text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
#members .form h2 {
 font: 400 22px/1.1 'Open Sans';
color: #fff;
letter-spacing: -0.2pt;
margin-top: 19px !important;
margin-bottom: 5px !important;
}
.form h2 strong {
	color:#002139;
	font-weight:500;
}
.form h1 {
	font: 400 33px/1 'Open Sans';
color: #fff;
margin-top: 0;
letter-spacing: -0.4pt;
text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
@media (max-width:450px) {
	.form {
	height:auto;	
}
	#home .city-bg {
	height:auto;
	}
}
@media (max-width:400px) {

	#home .city-bg {
	height:auto;
	}
	input[name="FNAME"],
	input[name="EMAIL"] {
		font-size:16px !important;	
	}
}
@media (max-width:350px) {

	#home .city-bg {
	height:auto;
	}
}
.form strong {
	color:#886a9a;
	font:700 "Open Sans";
}
@media (max-width:1199px) {
	.col-md-4.left {
		width: 100%;
margin: 0 auto !important;
	}
	.logo {
		margin:21px auto !important;
		float:none !important;
	}
	.form-title,
	input,
	.no-card {
		text-align:center;
	}
	.verify {
		margin:0 auto;
	}
	.video-wrapper {
    float: none;
    margin: 23px auto;
    padding-top: 1px;
}
}
.col-md-8,
.col-md-4 {
	padding:0;
}
.wistia_responsive_padding {
	border: 3px solid #886a9a;
}
#blank .logo,
#exit .logo {
	float:none !important;
}

@media (min-width:768px) {
	.logo {
	
			margin-top:20px;
			margin-bottom:10px;
	}
}
@media (max-width:500px){
	.logo {
	margin-top: 10px !important;	
	}
}
@media (max-width:660px){
			.top {
		height:auto !important;
	}
}
@media (max-width:990px){
	.page-header {
		height:176px;
}

}
@media (max-width:400px){
	.qualification-box {
		display:none;
	}

}
.qualification-box {
	padding:0;
}
.qualification-box h1 {
	width:30%;
	float:left;
	font:19px "norwester";
	text-align:right;
	margin:25px 0 0 0;
		padding-right:25px;
}
.qualification-box .box {
	width:70%;
	background:#1b3b63;
	float:left;
	font:26px "blenda";
}
@media (min-width:991px) and (max-width:1199px){
	.qualification-box h1 {
	width:30%;
	float:left;
	font:17px "norwester";
	text-align:right;
	margin:45px 0 0 0;
		padding-right:15px;
}
	.qualification-box .box {
		width:65%;
	}
}

.profits-header {
	font:36px "norwester";
	color:#fff;
	text-align: right;
padding-top: 8px;
float:left;
}
.headline-under {
	float:left;
	margin-top:0px;
}
.headline-under img {
	float:left;
	margin-right:32px;
}
.headline-under h1 {
	margin:10px 0 0 0;
	font:300 42px "Open Sans";
	color:#fff;
	float:left;
}
.headline-under h2 {
	margin:4px 0 0 0;
	font:400 29px "Open Sans";
	color:#fff;
	text-align:right;
}
#members .headline-under h2 {
	text-align:center;
}
.headline-under h2 strong {
	color:#f5d619;
}	
@media (max-width:500px){ 
#members input {
		background-position:0% 50%;
		padding: 10px 1px 6px 63px !important;
	}
	#members input[name="area"] {
		padding-left:0 !important;}
	#blank h1 {
	font-size:35px !important;
	}
	#blank .city-bg {
		height:auto !important;
		padding-bottom:20px !important;
	}
	.headline-under h1 {
		font-size:28px !important;	
	}
	#members .city-bg {
	height:440px;
}
}
@media (max-width:400px){

	input[name="EMAIL"] {
    background: url("../img/mail.png") no-repeat scroll 0% 50% transparent;
	}
	input[name="FNAME"] {
    background: url("../img/name.png") no-repeat scroll 0% 50% transparent;
	}
		input[name="PASS"] {
    background: url("../img/pass.png") no-repeat scroll 0% 50% transparent;
	}
	input[name="TELE"] {
    background: url("../img/tele.png") no-repeat scroll 0% 50% transparent;
	}
	



	.marquee-box h2 {
		font-size:15px !important;
		margin-top:5px !important;
		margin-bottom:5px !important;
	}
	.counter-stripe {
		padding-left:15px !important;
		padding-right:15px !important;
	}
}
@media (max-width:650px){
	.profits-header h1 {
		margin-top:0px;
	}
}
@media (max-width:990px){
	.profits-header h1 {
		font-size:25px;
		text-align:center;
		
	}
	.draw {
		display:none;
	}
}
.profits-header h1 strong {
	color:#ffea00;
	margin-left:10px;
}
.draw {
	margin-top: -106px;
position: relative;
left: 20px;
}

input {
	background: #fff;
border: 1px solid #c7c7c7;

border-radius: 0;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;

height: 55px;
color: #727272;
opacity: 1;
font:300 20px "Open Sans";
text-align: left;

margin-bottom: 8px;
box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.1);
padding-left: 15px;
}
@media (max-width:450px) {
	#home input {
		margin-top:5px;
		margin-bottom:5px;
		
	}
	#home input[type="text"] {
		background-position: 0px -4px !important; height:50px;
	}
}
input:focus {
	color:#000 !important;
	opacity:1 !important;
}
input::-webkit-input-placeholder { color:#727272 !important; }
input::-moz-placeholder { color:#727272 !important; opacity: 1 !important;} /* firefox 19+ */
input:-ms-input-placeholder { color:#727272 !important; } /* ie */


#home form input:first-child {
	margin-top:4px;
}
#home .headline-img {
	margin-top:-10px;	
}
input.name {
	background:#fff url('../img/name.png') no-repeat;
}
input.email {
	background:#fff url('../img/mail.png') no-repeat;
}
input.pass {
	background:#fff url('../img/pass.png') no-repeat;
}
input.tele {
	background:#fff url('../img/tele.png') no-repeat;
}
.footer {
	width:100%;
	float:left !important;
	margin-bottom: 70px;
}
.footer-wrap {
	margin:0 auto;
	font:400 10px "Open Sans";
	color:#9f9f9f;
	text-align:center; 
	padding-top:20px;
	text-transform:uppercase;
}
.footer a {
	color:#7f7f7f;
	text-decoration:none;
}
.footer a:hover {
	color:#886a9a;
}
.footer-wrap span {
	color:#c1c1c1;
	line-height: 26px;
}
#members .submit {
	width:100%;
	letter-spacing:-0.5pt;
	font-weight:900;
}
#members .submit strong {
	color:#f5d619;
	font-weight:900;
}
.exit .submit {
	margin:0 auto;
}
@media (max-width:992px) {
	.exit h1 {
		font-size:50px !important;
	}
	.exit .city-bg {
		min-height:60px !important;
		height:auto !important;
		padding-bottom:20px;
	}
}
.submit:hover {
	opacity:0.8;
	 -webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
color:#000;
}
.top h2.headline strong { 
color: #e21b40;
}
.headline > a:nth-child(6),
.headline > a:nth-child(4) {
	 pointer-events: none;
   cursor: default;
}
.free-acc {
	font-size:42px;font-family:'m-black';color:#e21b40;
}
.price {
	font-size:48px;font-family:'m-black';color:#886a9a;
}
.headline a {
	color:#000;
font: 700 27px/48px "Open Sans";
}
.shield {
	float:left;
}
.submit {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffed91+0,ffe256+100 */

background: #ffed91; /* Old browsers */

background: -moz-linear-gradient(top,  #fff800 0%, #ffd300 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  #fff800 0%,#ffd300 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  #fff800 0%,#ffd300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff800', endColorstr='#ffd300',GradientType=0 ); /* IE6-9 */


padding:0;
margin-bottom:15px;
	color:#000;
font: 700 34px "Roboto Condensed";
letter-spacing:-0.5px;
padding: 16px;
width: 100%;
box-shadow: none;
border-radius: 0;
border: 2px solid #ffae00;
box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
.submit strong {
	color:#f5d619;
	font-weight:700;
}
@media (max-width:490px) {
	.submit, #members .submit {
							width:100%;
		margin:0 auto !important;
		background-size:100%;
	}
}
/*#members .submit {
	width:96%;
	margin:0 auto !important;
	height:80px;
	color:#fff;
	font-size:50px;
	font-size: 42px;
font-weight: bold;
text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
	background: #ffb400; /* Old browsers
}
#members input {
	margin-left:0;
}*/
@media (max-width:1199px) {
	.form {
		width:100%;
	}
	.counter-stripe h1,
	.footer-wrap {
		text-align:center;
	}
}
@media (max-width:400px) {
	.submit {
					width:100%;
		margin:0 auto !important;
	}
}
.meter { 

	height: 20px;  /* Can be anything */
	position: relative;
	width: 80% !important;
margin: 0 auto;
	}
.meter > span {

	display: block;
	height: 100%;
	background: #c70920;
	position: relative;
	overflow: hidden;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.meter > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
	      color-stop(.25, rgba(255, 255, 255, .2)), 
	      color-stop(.25, transparent), color-stop(.5, transparent), 
	      color-stop(.5, rgba(255, 255, 255, .2)), 
	      color-stop(.75, rgba(255, 255, 255, .2)), 
	      color-stop(.75, transparent), to(transparent)
	   );
	background-image: 
		-webkit-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-moz-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-ms-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	background-image: 
		-o-linear-gradient(
		  -45deg, 
	      rgba(255, 255, 255, .2) 25%, 
	      transparent 25%, 
	      transparent 50%, 
	      rgba(255, 255, 255, .2) 50%, 
	      rgba(255, 255, 255, .2) 75%, 
	      transparent 75%, 
	      transparent
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size:    50px 50px;
	background-size:         50px 50px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}
.animate > span:after {
	display: none;
}
@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}
.meter > span:after, .animate > span > span {
  -webkit-animation: move 2s ease infinite;
}
@-webkit-animation expandWidth {
   0% { width: 0; }
   100% { width: auto; }
}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;
	  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;


	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;

	text-align: center;
	margin-top: 7px;
margin-bottom: 13px;
font-size: 17px;
}
.fade-in img {
	margin-right: 15px;
}
.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 6.5s;
-moz-animation-delay:6.5s;
animation-delay: 6.5s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 3;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
	
	-webkit-animation-delay: 15s;
-moz-animation-delay: 15s;
animation-delay: 15s;
}
.blink_me2 {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
	
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@media (min-width:1261px) {
.marquee-box {
	margin-top: -100px;
}
}

.marquee-box h2 {
	font:20px "Open Sans";
	color:#767676;
	font-weight:600;
	margin:10px 0 10px 0;
	text-align:right;
}
@media (max-width:1260px) {
.marquee-box {
	margin-top: 0;
	width:100% !important;
	float:none !important;
	margin-bottom:10px;

}
.marquee-box h2 {
		text-align:center;
			color:#fff;
}

}
/* Make it a marquee */
.marquee {
    width: 100%;
	height:57px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
	background:#719dd3;
	color:#fff;
	font:18px "Open Sans";
	font-weight:100;
    padding-top: 15px;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

/* MEMBERS */
#members .congrats h1 {
font: 35px/38px "Open Sans";
color: #EE2C2C;
margin: 5px 0px 0px;
padding-right: 56px;
}
@media (max-width:1199px) {
#members .congrats {
	text-align:center;
	margin-top:19px;
} 
.congrats h1 {
	padding-right:0 !important;
}
#members .counter-stripe h1 {
	text-align:center;
}
}
@media (max-width:991px) {
	.congrats h1 {
		font: 26px/44px "Open Sans" !important;
}
}
@media (max-width:682px) {
	.congrats h1 {
		font: 26px/30px "Open Sans" !important;
}
}
#members .congrats h1 strong {
	color:#fbad00;

}
#members .form-title {
		font: 100 27px "hs-regular";
color: #494949;
letter-spacing: -0.4pt;
	margin-top:40px;
}
@media (max-width:1199pcx) {
	#members .form-title {
		margin-top:10px;
	}
}
@media (max-width:400px) {
	#members .form-title {
		font-size:20px;
	}
}

@media (max-width:500px) {
	#members .entry h1 {
	font:8vw "norwester";
	margin-top:8px;
	}

	#members .entry h2 {
		font-size:18px !important;
		margin-bottom:0 !important;
	}
	#members input[type="text"],
	#members input[type="password"],
	#members input[type="tel"]{
margin-bottom: 6px !important;
height: 51px !important;	}
		#members input[type="text"],
	#members input[type="password"]{
	font-size:18px !important;
	}

}
#members .entry h2 {
	text-align:center;
	color:#fff;
	font:30px "norwester";
	margin-top:0;
}
#members .entry h2 strong {
	color:#ffea00;
	font-weight:normal;
}

@media (max-width:440px) {
	#members .member {
		display:none !important;
	}

}
}
@media (min-width:501px){
.prefixInput {
    width: 28% !important;
}

}
input[type="tel"] {
	padding: 2px 0 0 10px !important;
font-size: 20px;
width: 28% !important;
position: relative;
top: -1px;
}
.phoneInput {
    width: 71%;
}
#members .main-wrapper {
	height: auto;
	margin-bottom:55px;
}
@media (max-width:458px) {
	input.phoneInput {
		width:63.5%;
	}
	#members .main-wrapper {
	height: 385px;
		margin-bottom:0;
	}
}
@media (max-width:500px) {
	.phoneInput {
		width:64.5%;
	}
		input[type="tel"] {
    width: 35% !important;
	font-size:18px !important;
		}
		#members input {
			padding-left:8px;
		}
}
.logo-members2 {
		display:none !important;
	}
@media (min-width:1260px) {
	.logo-members {
		display:none !important;
	}
	.logo-members2 {
		display: block !important;
		margin-top: 25px;
		width: 420px !important;
		background: transparent !important;
		margin-bottom: 0;
	}
	#members .entry h1,
	#members .entry h2 {
		text-align:left !important;
	}
	#members .entry h1 {
		font-size:48px !important;
		margin-top:10px;
	}
	#members .entry h2 {
		font-size:25px !important;
	}
	#members .page-header {
		padding-bottom:0;
	}
	#members input[type="tel"] {
		height:60px;
		margin-bottom:8px;
	}
	#members .main-wrapper {
		height:490px;
		margin-bottom:80px;
	}
}
	#members input[type="text"],
	#members input[type="password"]
	 {
		margin-bottom: 7px;
		width: 100%;
		padding-right: 7px;
		padding-left:7px;
		background:#Fff !important;
		text-align:center;
		height: 47px;
	}

@media (max-width:1120px) {
	#members .main-wrapper {
		margin-bottom:0;
	}
}

#members #index-form h2 a {
	pointer-events:none;
}
ul#items {
	list-style-type: none;
padding: 0px;
}
ol#pagination {
	margin: 0px auto;
list-style-type: none;
width: 180px;
margin-top: 24px;
float:right;
}
ol#pagination li {
	margin-right: 10px;
float: left;
padding: 1px 5px;
background:#949494;
color:#fff;
}
ol#pagination li:hover {
background:#886a9a;
}
ol#pagination li.current {
background:#886a9a;
}
ol#pagination li.current:hover {
color:#fff;
}
.table {
	width:100%;
	overflow:hidden;
}
table {
	color:#fff;
	font:400 11px "Open Sans";
	margin-top:4px;
	margin:0 auto;
}
thead th {
	color:#fff;
		height:20px;
		font:700 18px "Open Sans";
}
td {
	height:28px;
}




table {
	font-family:"Open Sans";
	font-weight:300;
	color:#666;
	font-size:14px;
/*	background:#eaebec;
	border:3px solid #886a9a;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px; */
	margin:0 auto;
}
table th {
	padding: 13px 10px 14px;
background: none repeat scroll 0% 0% #886a9a;
text-align: center;
font-size:14px;
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}

table tr {
	text-align: center;
	padding-left:20px;
}

table td {
	padding:14px;
	/* border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa); 
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:1px solid #64aa2c;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	*/
}
table td img {
	margin-left:8px;
}
.live-bar {
	margin:0 auto;
	height:80px;
	float:none !important;
	margin-top:30px;
}
.live-bar div {
	height:90px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.live-bar div:first-child {
	background:#ffea00;
	color:#706700;
	font:800 38px "Open Sans";
	text-align:center;
		padding-top:18px;
}
.live-bar div:nth-child(2) {
	color:#fff;
	font:800 38px "Open Sans";
	text-align:center;
	background: #e32525 url('../img/live-bar.png.html');
}
.live-bar h1 {
	font:800 33px "Open Sans";
	margin:8px 0 0 0;
	text-transform:uppercase;
}
.live-bar h2 {
	font:600 20px "Open Sans";
	margin:-3px 0 0 0;

	text-transform:uppercase;
}
.numbers table {
	width:100%;
}
.numbers font {
	color:#ffea00;
}

@media (max-width:689px) {
	table, .live-bar-display, #pagination, .graphic {
		display:none;
	}
}
@media (max-width:888px) {
	table td {
		font-size:12px;
		padding: 12px;
	}
	table th {
		font-size:12px;
		padding:12px 0;
	}
}
@media (max-width:990px) {
	.live-bar h1 {
		font-size:30px;
	}
	.live-bar h2 {
		font-size:18px;
	}
	.form {
	margin-top:10px;
}
}
@media (max-width:768px) {
	.live-bar {
		height:170px;
	}
	.live-bar h1 {
		padding-top:10px;
	}
}
.member {
	margin-top:30px;
}
.member .member-image img {
    border-radius: 50%;
    height: 142px;
    width: 142px;
}
.member-image {
	margin-top:20px;
}
.triangle-border.left:after {
        top: 56px;
    bottom: auto;
    left: -19px;
    border-width: 15px 15px 15px 0px;
    border-color: transparent #3D84DB;
}
.triangle-border:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0px;
    border-style: solid;
    border-color: #3D84DB transparent;
    display: block;
    width: 0px;
}

.triangle-border.left {
    margin-left: 30px;
}
.triangle-border {
    position: relative;
    padding: 15px;
    margin: 1em 0px 1em;
    border: 5px solid #3D84DB;
    color: #fff;
	font:400 italic 14px/22px "Open Sans";
    background: none repeat scroll 0% 0% #3D84DB;
    border-radius: 10px;
}
.member h1 {
	color:#3D84DB;
	font:400 20px "Open Sans";
	margin:0;
}

.member h2 {
	color:#E32525;
	font:600 22px "Open Sans";
	margin:0;
}
.triangle-border.last {
	font: 600 30px "Open Sans";
padding-top: 45px;
padding-bottom: 49px;
text-align: center;
text-decoration: underline;
}


/* BLANK PAGE */
#blank .main-wrapper {
	height:auto;
}
#blank h1 {
	text-align:center;
	font: 700 60px "Roboto Condensed";
	color:#000;
	margin-bottom:0;
	margin-top: 27px;
}
#blank .city-bg {
	height:120px;
}
#blank.affiliates .city-bg{
		height:160px;
}
#blank.exit .city-bg {
	height:140px;
}
#blank h2 {
	margin-top:0;
	text-align:center;
}
#blank h1 strong {
	font:100 "m-black";
	color:#886a9a;
}
#blank .content-box {
	margin:0 auto;float:none;padding-top:25px;
	line-height:24px;	
}
#blank h3 {
	text-align:center;
	font:100 40px "Open Sans";
	color:#494949;
	margin-top:0;
}
.blank-title {
	margin-bottom:30px !important;
}
 .footer hr {
	width:50%;
	margin:0 auto;
	border:0;
	border-top:1px solid #E2E2E2;
	margin-top:30px;
}
#blank h3 strong {
	color:#64aa2c;
	font-weight:100;
}
#blank h2 strong {
	color: #886a9a;
font-weight: 700;
}
#blank textarea {
	margin-bottom:20px;
	
}
#exit h2 {
	text-align: left;
font: 100 100px "Open Sans";
color: #494949;
margin-bottom: 0px;
margin-top: 0;
}
#exit h3 {
	text-align:left;
	font:100 40px "hs-regular";
	color:#494949;
	margin-top:0;
	line-height:36px;
}
#exit h3 strong,
#exit h2 strong {
	font-weight:100;
	color:#c70820;
}
.exit-wrapper .col-md-3,
.exit-wrapper .col-md-9 {
	padding:0 !important;
}
.exit-wrapper {
	margin-bottom:30px;
}
.text1 {
	font:100 15px/25px "Open Sans";
	color:#616161;
	text-align:center;
	margin-top:20px;
}

/* AFFILIATES */
	#affiliates .main-wrapper,
	#exit .main-wrapper {
	height:auto;
}

#affiliates .entry h3 {
	font:600 25px "Open Sans";
	text-align:center;
	margin:0 0 20px 0;
}
#affiliates .entry h3 span {
	color:#0e2440;
}
#affiliates .text h3 {
	 color:#e32525;
	 font-weight:100;
	 font-size:37px;
	 text-transform:uppercase;
	 margin-top:20px;
}
.up-bar {
	width:100%;
	height:6px;
	background:#1b3b63;
}

/* EXIT */

.stop h1 {
	font:100px "norwester";
	color:#e32525;
	margin:0;
	}
.stop h2 {
	margin:0;
		font:40px "norwester";
}
.stop h2 strong {
	color:#ffea00;
}


@media (max-width:991px) {
	#exit h2 {
		font-size:70px;
	}
	#exit h3 {
		font-size:30px;
	}
}
#exit .padding-box {
	padding-left:20px !important;
}
@media (max-width:767px) {
	#exit h2,
	#exit h3 {
		text-align:center;
	}
	#exit .padding-box {
	padding-left:0px !important;
}
.exit-wrapper {
	margin-bottom:8px;
}
}
@media (max-width:475px) {

	input.name,
	input.email,
	#exit input.name,
	#exit input.email {
		font-size:22px;
	}
}

*{margin:0; padding:0;}
#marquee{

  height:60px;
  width:100%;
  overflow:hidden;
  position:relative;
  background: none repeat scroll 0% 0% #719DD3;
  font: 100 18px "Open Sans";
padding-top: 15px;
}
#text-marq{

  cursor:pointer;
  overflow:hidden;
  position:absolute;
  left:10px;
  margin-right:10px;
  top:10px;
}
.index-mobile-title {
	font-size:18px;
	text-align:center;
	margin-top:0;
	margin-bottom:0;
}

.board-count {
    position: fixed;
    z-index:3 !important;
    left: 2%;
    top:52px;
width: 135px;
height: 100px;
padding: 8px 8px 10px;
    color: #fff;
    text-align: center;
	background:#231d1e;
	border:2px solid #de0000;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.20);
	box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.20);
	font-size:10px;
	line-height:10px;
	text-transform:uppercase;
	font-family:"Open Sans";
	font-weight:400;
}

.board-count2 {
    position: fixed;
    z-index:3 !important;
    right: 2%;
    bottom:52px;
width: 132px;
height: 108px;
	padding:0px 8px 10px 8px;
    color: #fff;
    text-align: center;
	background:#231d1e;
	border:2px solid #7ebe24;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.20);
	box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.20);
	font-size:10px;
	line-height:10px;
	text-transform:uppercase;
	font-family:"Open Sans";
	font-weight:400;
}
.board-count3 {
    position: fixed;
    z-index:3 !important;
    right: 2%;
    top:52px;
width: 135px;
height: 100px;
padding: 8px 8px 10px;
    color: #fff;
    text-align: center;
	background:#231d1e;
	border:2px solid #de0000;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.20);
	box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.20);
	font-size:10px;
	line-height:10px;
	text-transform:uppercase;
	font-family:"Open Sans";
	font-weight:400;
}
.board-count2 img {
	vertical-align:top;
	margin-top:8px;
}
@media (max-width:990px) {
	.board-count,
	.board-count2,
	.board-count3 {
		display:none;
	}
}
.timeClass2 {
font-size: 36px;
font-family: "Open Sans";
font-weight: 800;
line-height: 29px;
color: #E91111;
letter-spacing: -3px;
width: 100%;
float: left;
margin: 13px 0px 13px;
}
.timeClass3 {
font-size: 17px;
font-family: "Open Sans";
font-weight: 800;
line-height: 2px;
color: #E91111;
width: 100%;
float: left;
margin: 13px 0px 13px;
}
.graphic {
	margin-bottom:30px;
}
@media (max-width:1199px) {
	.graphic {
		margin-top:20px;
	}
}

.help {
	width:100%;
	text-align:center;
	margin:0 auto;
	margin-top:50px;
	margin-bottom:20px;
}
.help h1 {
	color: #e91111;
margin-top: 20px;
font-family: "Open Sans";
font-weight:700;
font-size: 27px;
margin-bottom: 10px;
}

#blank textarea {
	width:100% !important;
	padding:10px 20px;
}
.content {
	font:400 14px "Open Sans";
	line-height:25px;
}
.content h1 {
	text-align: center;
font: 100 60px "Open Sans";
color: #494949;
margin-bottom: 0px;
}
#exitpopup { text-align:center; } 
#exitpopup h1 { margin-top:0px; padding-top:0px; } 
#exitpopup p { text-align:left; } 
#exitpopup_bg {
	display: none; width:100%; height:100%; position:fixed; background:#000000; opacity: .8; filter:alpha(opacity=0.8); z-index:999998;
}
#exitpopup {
	width:640px; 
	height:470px; 
	margin:0px auto; 
	display:none; 
	position:fixed; 
	color:#000; 
	padding:20px; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
	z-index:999999; 
	background:rgb(20, 20, 20); 
	background:rgba(255,255,255, 1);
	border:4px solid #64aa2c;
}
#exitpopup p {
	text-align:center;
}
#exitpopup form {
	width:66%;
	margin:0 auto;
}
#exitpopup h1 {
	font: 100 64px "Open Sans";
color: #494949;
letter-spacing: -0.4pt;
}
#exitpopup h2 {
	font-family: "hs-regular";
}
#exitpopup h2 strong {
	color:#c70820;
}
.table-headline {
	font: 700 45px/48px "Open Sans" !important;
text-align: center;
color:#3c505f;
text-transform:uppercase;
margin-bottom:20px;
}
.table-headline strong {
	color: #e21b40;
	font-size: 53px;
}
.headline > a:nth-child(4) > img:nth-child(1) {
	width:30px !important;
	margin-top: -3px;
}
.form2 {
	text-align: center;
	margin-bottom:40px;
}
.form2 .submit {
	margin:0 auto;
}
.dates {
	line-height:40px;
}
#home .headline img {
	width:30px !important;
}

@media (max-width:990px) {
#members .headline {
	font: 700 26px/35px "Open Sans" !important;
}
.free-acc {
	font-size:33px !important;
}
.price {
	font-size:36px !important;
}
}
@media (max-width:750px) {
#members .headline {
	font: 700 20px/35px "Open Sans" !important;
	margin-top:15px;
}
.free-acc {
	font-size:23px !important;
}
.price {
	font-size:26px !important;
}
}
@media (max-width:900px) {
	.form-container input.name,
	.form-container input.email {
		width:100% !important;
		margin-bottom:13px;
	}
}
.form-container .submit {

}
@media (max-width:630px) {
	.form-container .submit {
		width:100%;
		background-size:100%;
		-moz-background-size:100%;
		-webkit-background-size:100%;
		-o-background-size:100%;
	}
}
.team-item {
	padding-bottom: 30px;
}
.team-item .name {
	    font-size: 33px;
		padding-left:10px;
    font-family: "m-black";
    color: #886a9a;
	padding-top: 26px;
}
.team-item .pos {
	font: 700 17px/20px "Open Sans";
	padding-left:10px;
color: #000;
}
.section6 .img-circle {
	border:3px solid #886a9a;
}
.section5 {
	background:#886a9a;
	
	margin-top:18px;
	padding-top: 16px;
padding-bottom: 11px;
}
.panel-default > .panel-heading {
    color: #fff;
background-color: #886a9a;
border-color: #886a9a;
border-left: 13px solid #ffed91;
}
/*
.faq {
	background:#f4f4f4;
	background-size:100%;
	margin-top:0;
} */

.collapse {
    background-color: #FFF;
    margin-bottom: 12px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 5px 5px !important;
}
.panel {
	border:none !important;
	box-shadow:none !important;
	background-color:transparent !important;
}
.panel-body {
	color:#333;
	border:0 !important;
}



	.user {
		padding-right:1px;
		margin-top: 80px;
		margin-bottom:10px;
	}
	.user .img {
	background: #886a9a; /* IE6-9 */
text-align: center;
padding-bottom: 10px !important;
height: 124px !important;
	}
	.user .img .username {
		float: none;
margin: 0px auto;
position: relative;
top: -50px;
color:#fff;
text-shadow:1px 1px 0 rgba(0,0,0,0.5);
color: #FFF;
font-size: 25px !important;
	}
	.user .img .since {
		margin: 0px;
font: 400 13px "Open Sans";
color: rgb(255, 255, 255);
top: -48px;

position: relative;
	}
	.user .img img {
		float:none;
		margin:0 auto;
		position:relative;
	top: -60px;
	border: 3px solid #fff;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
	}
	.user .profit {
		background:#e21b40 none repeat scroll 0% 0%;
text-align: center;
color: rgb(0, 0, 0);
padding: 17px 0px 13px 0;
	}
	.user .profit h4 {
		margin: 0px;
		color:#000;
	}
	.user .profit h3 {
		margin: 0px;
font: 700 35px "Open Sans";
letter-spacing: -1pt;
color:#fff;
text-shadow:1px 1px 0 rgba(0,0,0,0.5);
	}
	.row-user {
		padding: 15px;
text-align: center;
font: 400 14px "Open Sans";
background: rgb(243, 243, 243);
color: #000;
min-height:100px;
	}
	@media (max-width:1200px) {	
	.row-user {
min-height: 140px;
	}	
	}
	@media (max-width:990px) {	
	.row-user {
min-height:120px;
	}	
	}
	
	@media (max-width:768px) {	
	.row-user {
min-height:85px;
	}	
	}
	.row-user:nth-child(2n-1) {
		background: #d9d9d9;
	}
	.users {
		overflow: hidden;
margin-bottom: 30px;
	}
	.section8 {
		background:#886a9a;
		margin-top:30px;
		padding: 20px 0 0;
	}
	.darker {
		background:#1280b9;
		padding: 0 0 20px;
		margin-top:20px;
		color:#fff;
			}

.section8 h3.title-line-basic {
	color:#fff;
	font:800 37px "Open Sans";
	text-shadow:1px 1px 0 rgba(0,0,0,0.7);
}
.section8 h3.title-line-basic strong {
	font-weight:700;
	color:#e21b40;
}
.section8 h4.title-line-basic {
	color:#fff;
	font:300 34px "Open Sans";
	margin-top: 30px;
	text-transform:none;
}
.section8 h4.title-line-basic strong {
	font-weight:700;
}
.section8 .clock {
	margin-top: 23px;
}


.steps-wrap{
    padding-top: 16px;    
} 
.step, .step-arrow{
    float: left;
padding:0;
    text-align: center;
}
.step-arrow{
    position: relative;
    top: 12px;
    width: 17%;
}
.step-icon{
   margin: 0 auto;
height: 60px;
width: 60px;
border: 3px solid #886a9a;
border-radius: 50%;
float: left;
background: #fff;
margin-right: 10px;  
}
.step-icon h4 {
	font: 900 13px "Open Sans";
margin-bottom: 0px;
margin-top: 7px;
color: #004e7c;
}
.step-icon h3 {
	margin-top: -6px;
font: 900 28px "Open Sans";
color:#004e7c;
}
.step-icon img{    
    vertical-align: middle;
	position: relative;
top: -5px;
}
.step-tit{
    color: #886a9a;
    font-size: 32px;
    padding: 15px 0;
}
.step p{font-size: 16px;
color: #333;
text-align: left;
font-weight: bold;
}
.formbg {
	background:#012f59 url('../img/formbg.jpg.html') no-repeat center top;
	padding-bottom:30px;
}

.formbg2 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+65,d1d1d1+100 */

background: rgba(0,0,0,0.25);



	margin-top:30px;
	margin-bottom:0;
	padding-bottom:0;
}
.formbg2 .mockup {
	margin-top:30px;
}
.steptitle {
	font: 700 24px "Open Sans";
margin-top: 15px;
color: #343e48;
letter-spacing:-0.5pt;
}
.introduce .name {
font: 900 30px "Open Sans";
margin-top: 30px;
color: rgb(30, 100, 149);
}
.introduce .blue {
	font: 900 18px "Open Sans";

margin-top: -10px;
color: #343e48;
margin-bottom: 30px;
}
.introduce .left {
	padding-right:15px;
	 border-right:1px solid #cfd5d9;
}
.introduce .right {
	padding-left:15px;
}
.introduce .left img {
	margin-top: 40px;
}
.introduce .right img {
margin-top: 79px;	
}
.introduce span,
.introduce .quote {
	font: 400 17px/1.7 "Open Sans";
}
.introduce .left .blue,
.introduce .left .name,
.introduce .left .quote  
{
	text-align: right;
}

.introduce .right .blue,
.introduce .right .name,
.introduce .right span  
{
	text-align: left;
}
@media (max-width:990px) {
	.formbg2 .mockup {
		
	margin-bottom:30px;
	}
}
.formbg2 h2 {
	padding-left: 15px;
margin-top: 10px;
font: 300 25px "Roboto Condensed";
text-align: center;
text-shadow: 1px 1px 0 rgba(0,0,0,.3);
color:#fff;
}
#members .formbg2 h2 {
	color: #ffed91;
margin-bottom: 41px;
}
.formbg2 p {
color: #333;
padding-left: 15px;
font: 400 15px/28px "Roboto Condensed";
}
.steps {
	background:#000;
	padding-bottom: 0px;
}
.steps .item {
	margin-bottom:40px;
}
@media (max-width:1130px) {
	.formbg {
		background-size:cover;
	}
}
.stepss span {
	color: #ffed91;
font: 600 25px "Roboto Condensed";
text-align:center;
}
.stepss {
	color: #fff;
font-size: 23px;
padding-bottom: 40px;
padding-top: 40px;
float: left;
font: 400 23px "Roboto Condensed";
text-align: center;
}
.steps .img-responsive {
	float:none;
	margin:0 auto;
	max-width:185px;
}
.steps li {
	color:#1e6495;
font-size:18px;
margin-bottom:5px;	padding-left:0;
	margin-left:0;
}
.steps .titles {
	padding-left:15px;
	color:#ffed91;
	text-align:center;
	padding:0 30px;
}
.steps ul {
	padding-left:0;
	margin-left:20px;
}
.dollar1, 
.dollar2 {
	padding-top: 62px;
}
.dollar1 img {
	float: right;
}
.map img {
	margin-top:70px;
}
.map {
	padding-right:30px;
}
.signature {
	margin-top:0 !important;
}
.formbg h1 {
	font: 400 65px "Lobster";
color: #E73124;
margin: -12px auto;
}

.formbg h2 {
	font: 400 27px "Open Sans";
color: #fff;
margin: 30px auto 0;
text-align:center;
}


.formbg h3 {
	font: 400 25px "Lobster";
color: #434142;
margin: 0 auto;
}
.formbg form input {
	margin-bottom: 8px;
}

.formbg .name {display: inline-block;
margin-right: 23px;
}
.formbg .email {
	display:inline-block;
}
.formbg .submit {
	max-width: 350px;
margin-top: 15px;
}

/* Moje poprawki */ 

#index-form .submit {
max-width: 350px;
}

@media (max-width:1282px) {
    h2.headline {
    text-align: center;
    }
    h1.headline {
    text-align: center;
    }
    .countdownHolder {
    margin: -38px 0 0 -128px !important;
    }
}

@media (max-width:511px) {
h2.headline {
    font-size:18px;
    }
    h1.headline {
    font-size:32px;
    }
}

@media (max-width:383px) {
h2.headline {
    font-size:16px;
    }
    h1.headline {
    font-size:28px;
    }
}

@media (max-width:350px) {
h2.headline {
    font-size:16px;
    }
    h1.headline {
    font-size:24px;
    }name.png
}

@media (min-width:992px) and (max-width:1200px) {
    .countdownHolder {
    margin: -38px 0 0 -210px !important;
    }
   
}


@media (min-width:707px) and (max-width:1200px) {
 .embed-container {
    margin:0 auto !important;
    max-height: 372px !important;
height: 367px !important;
padding-bottom: 0px !important;
margin-top: 30px !important;
    }
}

@media (max-width:1200px) {
    .logo img {
    margin:0 auto !important;
    }
    .top {
    height:auto;
    padding-bottom:12px;
    }
}

@media (max-width:453px) {
    html #home {
    overflow: hidden;
    }
}

@media (max-width:384px) {
    #home .form input {
    width: 100%;
margin-left:auto;
        margin-right: auto;
        margin-top:5px;
        margin-bottom: 5px;
    }
}
@media (max-width:332px) {
    #home .shield2 {
      margin-left: -12px !important;
    }
}

@media (max-width:662px) {
    #home .headline-under img {
      margin:0 auto !important;
        float:none;
        
    }
    #home .headline-under {
        text-align: center !important;
        float: none !important;
    }
    .headline-under h2 {
    text-align: center ;
    }
}
@media (max-width:501px) {
    .headline-under h1 {
    float:none !important;
    }
}
@media (max-width:767px) {
    .map img {
    margin:0 auto !Important;
    }
    .map {
    padding-right: 0px !important;
    }
    .map h1 h2 {
    text-align: center;
    }
}
@media (min-width:992px) {
.formbg .name {
    margin-left:23px !important;
    }
}

@media (max-width:767px) {
.formbg .name {
      max-width: 331.667px;
margin-left:auto;
        margin-right: auto;
        margin-top:5px;
        margin-bottom: 5px;
    }
.formbg .email {
      max-width: 331.667px;
margin-left:auto;
        margin-right: auto;
        margin-top:5px;
        margin-bottom: 5px;
    }
}

#members .formbg .name {
	margin-left:0 !important;
}
#members .form {
	width:auto;
	margin:0 auto;
	float:none;
}
/* AFFILIATES */ 

#blank .logo img {
    margin:0 auto !important;
    margin-top:21px !important;
}
#blank .submit {
    max-width: 376px;
}
#blank .city-bg {
    background: none;
}

@media (max-width:700px) {
#blank .city-bg h1 {
    font-size:45px;
    }
    #blank .city-bg h2 {
    font-size:26px;
    }
}
@media (min-width:501px) and (max-width:535px) {
#blank .city-bg h1 {
    font-size:42px;
    }
}

@media (max-width:340px) {
input.name, input.email {
    font-size:16px;
    
    }   
}
@media (max-width:511px) {
#blank .submit img {
    max-width: 100%;
    display:inline;
    
    height: auto;
}
}
.aff {
background: url('../img/city-bg.jpg') repeat-x center top;
}
@media (max-width:519px) {
    #blank .submit {
    width:100%;
        max-width: 350px;
        margin: 0 auto !important;
    }
    .form-container {
    width: 100% !Important; 
        margin: 0px auto; 
        padding: 35px 0% !important;
        border:2px solid #eaeaea !important;
        margin-bottom:30px;
        margin-top:20px;
    }
}
@media (max-width:362px) {
    #blank .submit img {
        margin-left:-12px;
        display: inline !important;
        
    }
}
@media (max-width:330px) {
    #blank .submit img {
        margin-left:-18px
        
    }
}


/*EXIT*/ 
#exits .exit {
background: url('../img/city-bg.jpg') repeat-x center top;
    overflow:hidden;
}
@media (min-width:993px) {
#blank .rowek {
    margin-top:50px;
}
}

#dissclaimer .diss {
background: url('../img/city-bg.jpg') repeat-x center top;
    overflow:hidden;
}
#privacy .prv {
background: url('../img/city-bg.jpg') repeat-x center top;
    overflow:hidden;
}


#members input.name,
#members input.last-name {
	width: 49%;
float: left;
margin-top:0;
}
#members input.name {
	margin-right:2%;
}
#members input.code {
	width: 20%;
float: left;
margin-right: 2%;
}
#members input.phone {
	width: 78%;
	float:left;
}
#members .submit {
font: 700 47px "Roboto Condensed";
padding: 7px 0px 8px;
}
#members form {
	padding: 0px 14px;
}
.country {
	background: rgb(0, 116, 179) none repeat scroll 0% 0%;
padding: 5px 20px;
text-align: center;
color: rgb(255, 255, 255);
}
.country h3 {
	margin:0;
	font-size:20px;
}
.country strong {
	color:#f5d619;
}
.country img {
	display:inline-block;
	max-width:18px;
	max-height:18px;
	top: -2px;
position: relative;
margin: 0 3px;
}
.step-disabled  p { 
	color: #676767;
}
.step-disabled h4,
.step-disabled h3 {
    color: #676767;
}
.step-disabled .step-icon {
	border: 3px solid #676767;
}
.step-active p {
	color:#e21b40;
}
.step-active .step-icon {
	border: 3px solid #e21b40;
}

.step-active h4,
.step-active h3 {
    color: #e21b40;
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
@media (min-width:990px) {
.testimonial-container .container {
	width:950px;
}
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
margin: 0 auto;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.item .text2 h3 {
	font:700 20px "Open Sans";
	text-align:center;
	margin:0;
}
.item .text2 h2 {
	color:#3887d1;
	font:700 30px "Open Sans";
	text-align:center;
	margin:0;
}
.owl-carousel .owl-item{
	float: left;
	padding:120px 10px 10px;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url("grabbing.png.html") 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url("AjaxLoader.gif.html") no-repeat center center
}
.testimonial-container {
	width:100%;
	background:#fff;
	min-height:310px;
	margin-top:30px;
}
.testimonial-container h1 {
	font:300 24px "exoregular";
	color:#363636;
	text-align:center;
	margin:25px 0px 40px 0;
}
#testimonials .item {
	color: #282828;
border: 2px solid #88a3bc;
float: left;
-webkit-box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.15);
box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.15);
padding: 20px;
}
#testimonials .item .img {
	width:100%;
	float:left;
	margin-right:15px;
	text-align:center;
	color:#a3764f;
	font:900 14px "Lato";
	margin-top: -120px;
}
#testimonials .item .img img {
	margin-bottom:10px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border: 2px solid #88a3bc;
}
#testimonials .item .text{
	font:300 18px/28px "Lato";
	font-style:italic;
	color:#282828;
	padding-top: 5px;
	text-align:left;
	border-bottom:1px solid #d0dde9;
	margin-bottom:15px;
	padding-bottom:15px;
}
#testimonials .item .name {
	font: 700 25px "Open Sans";
	color:#012d55;
}
.panel-title img {position: absolute;
left: -27px;
top: -6px;
}
#testimonials .item .text img {
	max-width: 60px;
margin-top: -30px;
}
#testimonials .item .text2 {
	font:400 22px "Lato";
}
#testimonials .item .text2 strong {
	font:900 30px "Lato";
	color:#789510;
}
@media (max-width:990px) {
	#testimonials .item .text2 {
			font:400 17px "Lato";
	}
	#testimonials .item .text2 strong {
	font:900 24px "Lato";
}
}
.owl-wrapper {
	height:200px;	
}
@media (min-width:769px) {
	.faq-left {
		padding-right:25px;
	}
	.faq-right {
		padding-left:25px;
	}
}


.modal {
    bottom: 0px;
    display: none;
    overflow: hidden;
    outline: 0px none;
    top: 0px;
    right: 0px;
    position: fixed;
    left: 0px;
    z-index: 1050;
}
.modal-dialog {
    width: 712px !important;
    min-height: 370px;
    background: #FFF none no-repeat scroll -200px -80px;
    border-radius: 5px;
    padding: 30px 30px 20px 30px;
	margin: 0 auto !important;
top: 13%;
z-index:1052;
}


modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out 0s;
}
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-open .modal-bg {
	background: rgba(0,0,0,0.7);
	width: 100%;
height: 100%;
position:absolute;
z-index:1051;
}
.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.modal-header .close {
	top: -10px;
position: relative;
right: -15px;
}

.intl-tel-input {
	position: relative;
	display: block;
	 margin-top: 0px;
}

.intl-tel-input.separate-dial-code .selected-dial-code {
	display: table-cell;
	vertical-align: middle;
	padding-left: 7px;
}


