@media only screen and (max-width: 667px) {

    section#home h1{
        display: none;
    }


    section#home.register-success-section {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    section#live-results h1{
        font-size: 35px;
    }


    section#live-results h2{
        display: none;
    }

    .full-register {
        text-align: center;
    }

    .full-register h2 {
        margin-top: -15px;
        margin-bottom: 15px;
        display: inline-block;
    }

}