/* By Petar Neykov */

/* ### CSS Reset ### */

/* ### Reset ### */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
    display: block;
}

audio,
canvas,
video {
    display: block;
}

body {
    margin: 0;
}

a {
    background: transparent;
    text-decoration: none;
}

button,
input {
    line-height: normal;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

textarea:focus,
input:focus {
    outline: 0;
}

input {
    margin: 0;
    padding: 0;
}

/* ### Core variables ### */

/* ### VARIABLES ###
-----
* Typography
* Breakpoints
* Paths
* Grid setup
* Colour palette
* Components
*/

/* Typography */

/* Breakpoints */

/* Colours */

/* ### Mixins, helpers and functions ### */

/* ### Sass Mixins ### */

/* ### Utility Mixins ### */

/* Media queries */

/* Target different screen resolutions here */

/* EXAMPLE
  @include bp(mobile) {
    width: 100%;
  }
*/

/**
 * vertical-center
 * Vertically center any element. Needs support for CSS tranforms.
 * Usage:
 * @include vertical-center;
 */

/**
 * Text replacement (instead of text-indent)
 * Usage: @include text-replacement();
 */

/* Retina Display Media Query */

/* EXAMPLE
  @include retina-display() {
    width: 100%;
  }
*/

/* Sass Mixin for Typekit and other webfont */

/*
Example usage:
@include font (300, italic);
@include font (300, normal , 2);
*/

/* Additional */

/* Generate REMs from PX */

/* EXAMPLE
  @include rem('font-size',32px);
*/

/* ### Helpers ### */

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.w1_2 {
    width: 48%;
}

.w1_3 {
    width: 32%;
}

.w2_3 {
    width: 64%;
}

.w1_4 {
    width: 24%;
}

.w3_4 {
    width: 74%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.centered {
    text-align: center;
}

/* ### Vendor ### */

/* Get the bourbon mixin from http://bourbon.io */

/* Reset */

.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
}

.flip-clock-wrapper a:hover {
    color: #fff;
}

.flip-clock-wrapper ul {
    list-style: none;
}

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
    content: " ";
    display: table;
}

.flip-clock-wrapper.clearfix:after {
    clear: both;
}

.flip-clock-wrapper.clearfix {
    *zoom: 1;
}

/* Main */

.flip-clock-wrapper {
    font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
    -webkit-user-select: none;
}

.flip-clock-meridium {
    background: none !important;
    -webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
    font-size: 36px !important;
}

.flip-clock-meridium a {
    color: #313333;
}

.flip-clock-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 1em;
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */

.flip-clock-wrapper ul {
    position: relative;
    float: left;
    margin: 5px;
    width: 60px;
    height: 90px;
    font-size: 80px;
    font-weight: bold;
    line-height: 87px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #000;
}

.flip-clock-wrapper ul li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 87px;
    text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
    z-index: 2;
}

.flip-clock-wrapper ul li a {
    display: block;
    height: 100%;
    -webkit-perspective: 200px;
    perspective: 200px;
    margin: 0 !important;
    overflow: visible !important;
    cursor: default !important;
}

.flip-clock-wrapper ul li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    font-size: 80px;
    overflow: hidden;
    outline: 1px solid transparent;
}

.flip-clock-wrapper ul li a div .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.flip-clock-wrapper ul li a div.up {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    top: 0;
}

.flip-clock-wrapper ul li a div.up:after {
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 3px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}

.flip-clock-wrapper ul li a div.down {
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    bottom: 0;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #ccc;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: #333;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 70px;
}

.flip-clock-wrapper ul li a div.up div.inn {
    top: 0;
}

.flip-clock-wrapper ul li a div.down div.inn {
    bottom: 0;
}

/* PLAY */

.flip-clock-wrapper ul.play li.flip-clock-before {
    z-index: 3;
}

.flip-clock-wrapper .flip {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.flip-clock-wrapper ul.play li.flip-clock-active {
    -webkit-animation: asd 0.5s 0.5s linear both;
    animation: asd 0.5s 0.5s linear both;
    z-index: 5;
}

.flip-clock-divider {
    float: left;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 100px;
}

.flip-clock-divider:first-child {
    width: 0;
}

.flip-clock-dot {
    display: block;
    background: #323434;
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    left: 5px;
}

.flip-clock-divider .flip-clock-label {
    position: absolute;
    top: -1.5em;
    right: -86px;
    color: black;
    text-shadow: none;
}

.flip-clock-divider.minutes .flip-clock-label {
    right: -88px;
}

.flip-clock-divider.seconds .flip-clock-label {
    right: -91px;
}

.flip-clock-dot.top {
    top: 30px;
}

.flip-clock-dot.bottom {
    bottom: 30px;
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
    z-index: 2;
    -webkit-animation: turn 0.5s 0.5s linear both;
    animation: turn 0.5s 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
    z-index: 2;
    -webkit-animation: turn2 0.5s linear both;
    animation: turn2 0.5s linear both;
}

.flip-clock-wrapper ul li.flip-clock-active {
    z-index: 3;
}

/* SHADOW */

.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
    background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
    -webkit-animation: show 0.5s linear both;
    animation: show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
    background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
    -webkit-animation: hide 0.5s 0.3s linear both;
    animation: hide 0.5s 0.3s linear both;
}

/*DOWN*/

.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
    background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
    -webkit-animation: show 0.5s linear both;
    animation: show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
    background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
    -webkit-animation: hide 0.5s 0.3s linear both;
    animation: hide 0.5s 0.2s linear both;
}

/* ### App styles ### */

/* ### Application specific styles ### */

body {
    background: #fff;
    color: #252b2e;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.accented-text {
    text-transform: uppercase;
}

h1 {
    margin: 0 0 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 0 0 3px #e7e7e7;
}

h2 {
    margin: 0 0 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: #969696;
    line-height: 1.2;
}

h2.accented-heading {
    margin-top: -15px;
    text-transform: uppercase;
}

h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

p {
    margin: 0 0 18px;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
    color: #ee7a22;
}

a {
    position: relative;
    color: #252b2e;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: color .3s;
    transition: color .3s;
}

a:hover {
    color: #ee7a22;
}

/* ### Application specific styles ### */

.wrapper {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1240px;
}

section:nth-of-type(2n+1) {
    background-color: #e7e7e7;
}

section {
    padding: 50px 0;
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.25);
}

section h1,
section h2 {
    text-align: center;
}

section h1 + h2 {
    margin-top: -20px;
}

section.video-section,
section.register-success-section {
    background: url(../img/video.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

section.register-section,
section.certificates-section {
    background-color: #32424d;
    color: #fff;
}

section.certificates-section {
    background: url(../img/certificates.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

section.live-results-section {
    background: url(../img/live-results.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

section.live-results-section:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
}

.welcome-jv-section {
    background: url(../img/partners.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    min-height: 650px;
    position: relative;
}

.welcome-jv-section h1 {
    font-size: 72px;
    padding: 50px 5% 0;
    max-width: 86%;
}

.welcome-jv-section h2 {
    padding: 30px 5% 20px;
    font-size: 52px;
    max-width: 86%;
    color: #ee7a22;
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
}

.welcome-jv-section .win-prizes {
    max-width: 86%;
    text-align: center;
}

.welcome-jv-section .introduction {
    padding: 0 30px;
    text-align: center;
    font-family: "Open Sans Condensed";
    font-size: 32px;
    line-height: 1.3;
    max-width: 86%;
}

.welcome-jv-section .introduction li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
    vertical-align: middle;
    font-size: 42px;
}

.welcome-jv-section .introduction li:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ee7a22;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.banners-section {
    background: url(../img/vegas.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    position: relative;
}

.banners-section:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.main-prizes-section {
    background: url(../img/vegas-2.jpg) 50% 100% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 0;
    position: relative;
}

.additional-prizes-section {
    background: url(../img/vegas.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    position: relative;
}

.additional-prizes-section:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

section.technologies-section {
    background: url(../img/live-results.jpg) 50% 100% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    position: relative;
}

section.technologies-section:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

section.technologies-section h2 {
    padding-top: 30px;
}

section.technologies-section img {
    position: relative;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
}

section.register-bottom-section {
    background: url(../img/register-bottom.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    position: relative;
}

section.register-bottom-section:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.register-section h1 {
    text-shadow: none;
}

section img {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.how-it-works-section {
    background: url(../img/charts.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.how-it-works-section h1 {
    text-shadow: none;
    color: #fff;
}

section.register-success-section {
    position: relative;
    color: #fff;
}

section.register-success-section:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* -- Header */

.page-header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 4px solid #32424d;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.page-header .wrapper {
    overflow: hidden;
}

.logo {
    float: left;
    width: 140px;
    height: 41px;
    background: url(../img/Fintech-Limited-Logo.png) 0 0 no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    text-indent: -9999px;
}

.hamburger {
    display: none;
    position: fixed;
    top: 2px;
    right: 0;
    padding: 20px;
    cursor: pointer;
}

.hamburger div {
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #ee7a22;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
    top: 16px;
}

.hamburger span:nth-child(4) {
    top: 32px;
}

.hamburger.open span:nth-child(1) {
    top: 16px;
    width: 0%;
    left: 50%;
}

.hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
    top: 16px;
    width: 0%;
    left: 50%;
}

.navigation {
    float: right;
    padding: 15px 0 0;
    font-size: 0;
}

.navigation li {
    display: inline-block;
    padding: 0 2px;
    border-left: 1px solid #d9d9d9;
    font-size: 14px;
}

.navigation li:first-child {
    border-left: none;
}

.navigation li a {
    display: inline-block;
    padding: 0 8px;
    text-transform: uppercase;
}

.open + .navigation {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* -- Footer */

.page-footer {
    overflow: hidden;
    padding: 30px 0;
    font-size: 14px;
    line-height: 22px;
    color: #abb3b9;
    background-color: #252b2e;
}

.page-footer .navigation {
    float: left;
    width: 100%;
    margin-left: -10px;
}

.page-footer a {
    color: #fff;
}

/* Content */

.content {
    padding-top: 85px;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-container.hidden {
    display: none;
}

.modal-container.hidden .modal {
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    -webkit-transform: translateX(-50%) translatey(-50%);
    -ms-transform: translateX(-50%) translatey(-50%);
    transform: translateX(-50%) translatey(-50%);
    background-color: #fff;
    width: 60%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: 1;
    max-height: 90%;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.modal .close {
    position: absolute;
    top: -45px;
    right: -17px;
    padding: 15px;
}

.modal .close img {
    width: 18px;
}

.modal .accented-heading {
    text-align: center;
}

.form-heading {
    margin: 0 auto 30px;
    max-width: 600px;
    background: url(../img/Fintech-Limited-Logo.png) 50% 0 no-repeat;
    text-align: center;
    -webkit-background-size: 140px auto;
    background-size: 140px auto;
    padding: 65px 0 0 0;
    font-size: 48px;
}

#profit-details h1 {
    padding-right: 345px;
}

#profit-details .modal {
    background: #fff url(../img/sertificates-small.jpg) 95% 34px no-repeat;
}

/* ### Forms ### */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
    color: #cdcdcd;
}

:-moz-placeholder { /* Firefox 18- */
    color: #cdcdcd;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #cdcdcd;
}

:-ms-input-placeholder {
    color: #cdcdcd;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #fff;
    background-color: #fff;
    font-size: 24px;
    line-height: 34px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    border-radius: 6px;
}

.error input[type="text"],
.error input[type="email"],
.error input[type="password"],
.error textarea {
    border-color: #eb1c1c;
}

input {
    -webkit-transition: -webkit-box-shadow .3s ease-in-out, border .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, border .3s ease-in-out;
}

input:focus {
    -webkit-box-shadow: 0 0 8px #ee7a22;
    box-shadow: 0 0 8px #ee7a22;
    border: 1px solid #ee7a22;
}

.button-wrapper {
    float: left;
    width: 31%;
    margin-left: 3.5%;
    margin-bottom: 20px;
    font-size: 14px;
}

.button-wrapper:first-child {
    margin-left: 0;
}

input[type="submit"],
input[type="button"],
button {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #fff;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    max-width: 100%;
    background-color: #ee7a22;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-animation: glow 3.5s infinite;
    animation: glow 3.5s infinite;
    border-radius: 6px;
}

.lower-form {
    max-width: 600px;
    margin: 0 auto;
}

.error-message {
    display: none;
    padding-top: 6px;
    color: #eb1c1c;
}

.error .error-message {
    display: block;
}

.full-register {
    max-width: 600px;
    margin: 0 auto;
}

.full-register h2 {
    color: #fff;
    margin-top: -1px;
    margin-bottom: 15px;
}
.full-register h2 strong{
    display: inherit;
}

.full-register input[type="text"],
.full-register input[type="email"],
.full-register input[type="password"],
.full-register textarea {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
}

.full-register input {
    margin-bottom: 20px;
}

.full-register .button-wrapper {
    float: left;
    width: 100%;
    margin-left: 0;
}

.full-register .button-wrapper input {
    margin-bottom: 0;
}

.full-register .error-message {
    display: block;
    margin-bottom: 5px;
    margin-top: -15px;
    padding-top: 0;
}

.hidden {
    display: none !important;
}

.phone {
    font-size: 0;
}

.phone input {
    font-size: 24px;
}

.phone input:first-child {
    width: 30%;
    margin-right: 5%;
}

.phone input:nth-child(2) {
    width: 65%;
}

.phone .error-message {
    font-size: 14px;
}

/* Sticky */

.sticky-form {
    position: fixed;
    bottom: 0;
    right: 40px;
    z-index: 80;
    width: 260px;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 20px 20px 10px;
    background-color: #045e99;
    color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.sticky-form h3 {
    text-align: center;
    vertical-align: middle;
    font-family: "Open Sans Condensed";
    font-weight: bold;
    font-size: 15px;
    font-style: normal;
    -webkit-animation: glow-text 2s steps(1, start) infinite;
    animation: glow-text 2s steps(1, start) infinite;
}

.sticky-form h3.hidden {
    display: none;
}

.sticky-form h3 img {
    margin-right: 5px;
    vertical-align: middle;
}

.sticky-form .button-wrapper {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
}

.sticky-form input {
    padding: 12px 8px;
    font-size: 13px;
    line-height: 1;
}

.sticky-form .error-message {
    padding-top: 2px;
    font-size: 12px;
}

.sticky-form .limited {
    font-size: 11px;
    font-style: italic;
}

.inline {
    display: inline-block;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.modal input {
    border: 1px solid #ccc;
}

.partners-register {
    margin-bottom: 30px;
}

.partners-register input {
    border: 1px solid #ccc;
}

.partners-register .button-wrapper {
    width: 48%;
}

.partners-register .button-wrapper:first-of-type {
    float: left;
}

.partners-register .button-wrapper:last-of-type {
    float: right;
}

/* ### Application specific styles ### */

/* Video */

.video-container iframe {
    display: block;
}

.video-container {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

/* -- Steps */

.steps {
    max-width: 800px;
    margin: 0 auto 30px;
    padding-top: 30px;
    font-size: 0;
    counter-reset: section;
}

.steps li {
    position: relative;
    margin-bottom: 45px;
    padding: 20px 80px;
    background-color: #ccc;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.steps li:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 30px solid #ccc;
}

.steps li:nth-child(1) {
    background-color: #045e99;
    color: #fff;
}

.steps li:nth-child(1):after {
    border-top-color: #045e99;
}

.steps li:nth-child(2) {
    background-color: #e7e7e7;
    color: #045e99;
}

.steps li:nth-child(2):after {
    border-top-color: #e7e7e7;
}

.steps li:nth-child(2):before {
    left: auto;
    right: -45px;
}

.steps li:nth-child(3) {
    background-color: #045e99;
    color: #fff;
}

.steps li:nth-child(3):after {
    border-top-color: #045e99;
}

.steps li h3 {
    font-size: 24px;
}

.steps li p {
    font-size: 16px;
    line-height: 22px;
}

.steps li:first-child {
    margin-left: 0;
}

.steps li:before {
    counter-increment: section;
    content: counter(section);
    display: inline-block;
    float: left;
    position: absolute;
    top: 50%;
    left: -45px;
    margin-top: -45px;
    width: 90px;
    line-height: 90px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ee7a22;
    color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    font-family: "Open Sans Condensed";
    font-weight: bold;
    font-size: 48px;
    text-shadow: 0 1px 0 #666;
    text-align: center;
}

.center button {
    padding: 30px;
    width: 600px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    font-size: 36px;
}

/* -- List */

.horizontal {
    text-align: center;
    font-size: 0;
}

.horizontal li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    line-height: 26px;
    margin: 0 15px;
}

.circles li {
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.generic {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 30px;
}

/* -- Testimonials */

.testimonial {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;
}

.testimonial img {
    float: left;
}

.testimonial-content {
    margin-left: 230px;
}

/* -- Social testimonials */

.facebook-feed {
    margin: 0 auto;
    max-width: 600px;
}

.facebook-feed img {
    display: block;
}

.social-testimonials {
    position: relative;
}

.social-testimonials li {
    position: absolute;
    clear: both;
    margin-bottom: 30px;
    width: 360px;
    padding: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    vertical-align: top;
}

.social-testimonials li:nth-child(1) {
    top: 30px;
    left: 4px;
}

.social-testimonials li:nth-child(2) {
    top: 67px;
    right: 52px;
}

.social-testimonials li:nth-child(3) {
    top: 230px;
    left: 63px;
}

.social-testimonials li:nth-child(4) {
    top: 320px;
    right: 8px;
}

.social-testimonials li:nth-child(5) {
    top: 410px;
    left: 25px;
}

.social-testimonials li:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
}

.social-testimonials li:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -11px;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #bbb;
}

.social-testimonials li:nth-child(2):after,
.social-testimonials li:nth-child(4):after {
    right: auto;
    left: -10px;
    border-left: none;
    border-right: 10px solid #fff;
}

.social-testimonials li:nth-child(2):before,
.social-testimonials li:nth-child(4):before {
    right: auto;
    left: -11px;
    border-left: none;
    border-right: 10px solid #bbb;
}

.social-testimonials li img {
    display: inline-block;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
    vertical-align: top;
    border-bottom: 3px solid #ee7a22;
}

.social-testimonials li div {
    display: inline-block;
    width: 245px;
}

.social-testimonials li div .author {
    display: block;
    padding-top: 4px;
    font-weight: 600;
}

/* How it works */

.motivation {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
}

.person {
    width: 460px;
    position: static;
    bottom: -50px;
    left: 60px;
    box-shadow: none;
    display: block;
    margin: 0 auto 30px;
    border-bottom: 3px solid #ee7a22;
    -webkit-box-shadow: none;
}

.motivation ul {
    margin-bottom: 40px;
}

.motivation ul li {
    position: relative;
    margin-bottom: 15px;
}

.motivation ul li:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: -28px;
    border: 3px solid #ee7a22;
    border-top: none;
    border-right: none;
    background: transparent; /*opacity: 0;*/
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* -- FAQ */

.faq {
    float: left;
    width: 100%;
    text-align: left;
}

.faq:after {
    content: "";
    display: table;
    clear: both;
}

.faq li {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
}

.faq li .answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.faq li h2 {
    position: relative;
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;
}

.faq li h2:before {
    content: '';
    position: absolute;
    top: 13px;
    left: -15px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #969696;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-backface-visibility: hidden;
}

.faq li .opened {
    color: #ee7a22;
}

.faq li .opened:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    border-left-color: #ee7a22;
}

.faq li .opened + .answer {
    max-height: 300px;
    opacity: 1;
}

.faq li:nth-child(2n) {
    float: right;
    clear: right;
    margin-left: 4%;
}

.faq li:nth-child(2n+1) {
    clear: left;
}

/* Mobbile devices */

.mobile-image {
    float: left;
    max-width: 50%;
}

.mobile-image img {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.profits {
    float: right;
    width: 47%;
}

.profits ul {
    float: left;
    width: 100%;
    vertical-align: top;
    padding-top: 0;
}

.profits li {
    display: inline-block;
    float: left;
    width: 202px;
    margin-left: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.profits h2 {
    padding: 0 65px;
    margin-top: 30px;
}

.profits h3 {
    color: #045e99;
    text-transform: uppercase;
}

.profits .digit {
    width: 200px;
    height: 200px;
    margin-bottom: 23px;
    padding-top: 38px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #32424d;
    font-family: "Open Sans Condensed";
    font-size: 27px;
    font-weight: bold;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
}

.profits .digit img {
    display: block;
    margin: 0 auto 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .5;
}

/* Preloader */

.loading {
    height: 100%;
}

.loading body {
    height: 100%;
    background: url(../img/loading.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.loading section {
    padding-top: 120px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.loader {
    text-align: center;
    padding: 30px 0;
}

.loader img {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Certificates */

.certificates {
    text-align: center;
    font-size: 0;
}

.certificates li {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    padding: 0 40px;
}

.certificates img {
    vertical-align: middle;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Clock wrapper */

.clock {
    width: 310px;
    margin: 0 auto 30px;
    padding-top: 20px;
}

.clock .flip-clock-label {
    font-family: "Open Sans";
    font-size: 14px;
    right: -135px !important;
    width: 130px;
    text-align: center;
}

/* Live results */

.weeks {
    margin-bottom: 30px;
}

.weeks table {
    width: 100%;
    background-color: #045e99;
    color: #fff;
    border-collapse: collapse;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.weeks table th {
    width: 25%;
    color: #252b2e;
    background-color: #fff;
    text-align: left;
    border-bottom: 1px solid #e7e7e7;
}

.weeks table td {
    padding: 20px;
    height: 70px;
    background-color: #045e99;
    color: #fff;
    text-align: center;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    vertical-align: middle;
}

.weeks table td:hover {
    cursor: pointer;
    background-color: #0573bc;
}

.weeks table tr:last-child th,
.weeks table tr:last-child td {
    border-bottom: none;
}

.weeks span {
    display: block;
}

.weeks .day {
    opacity: .7;
}

.weeks .daily-profit {
    padding-top: 3px;
    font-size: 18px;
    font-family: "Open Sans Condensed";
    font-weight: bold;
    white-space: nowrap;
}

.weeks .client {
    position: relative;
    padding: 20px;
    border-left: none;
    cursor: default;
}

.weeks .client:after {
    content: "";
    display: table;
    clear: both;
}

.weeks .client:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -11px;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
}

.weeks .client img {
    display: block;
    float: left;
    width: 30%;
    margin-right: 5%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #ee7a22;
}

.weeks .client .client-info {
    float: left;
    width: 65%;
}

.weeks .client .client-info span:nth-child(1) {
    font-family: "Open Sans Condensed";
    font-weight: bold;
}

.person-img {
    float: left;
    width: 26%;
    margin-right: 5%;
    border-bottom: 3px solid #ee7a22;
}

dl.profits-list {
    float: left;
    width: 68%;
    min-height: 220px;
    padding: 10% 0 20px 0;
    -webkit-background-size: 260px auto;
    background-size: 260px auto;
}

dl.profits-list:after {
    content: "";
    display: table;
    clear: both;
}

dl.profits-list dt,
dl.profits-list dd {
    float: left;
    margin-bottom: 15px;
    line-height: 1.4;
}

dl.profits-list dt:nth-child(2n),
dl.profits-list dd:nth-child(2n) {
    float: right;
}

dl.profits-list dt {
    width: 60%;
    font-family: "Open Sans Condensed";
    font-size: 32px;
}

dl.profits-list dd {
    width: 35%;
    text-align: right;
    font-family: "Open Sans Condensed";
    font-weight: bold;
    color: #045e99;
    font-size: 32px;
}

/* Audio and video testimonials */

.audio-list {
    margin-bottom: 30px;
}

.audio-list li {
    margin-bottom: 14px;
}

.audio-list li em {
    font-size: 15px;
}

.play {
    display: block;
    padding: 10px 10px 10px 52px;
    background: url(../img/graphic-icons/audio-off.svg) 18px 50% no-repeat;
    -webkit-background-size: auto 30px;
    background-size: auto 30px;
    font-size: 16px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.play.playing {
    background-image: url(../img/graphic-icons/audio-on.svg);
    -webkit-background-size: auto 28px;
    background-size: auto 28px;
    color: #fff;
    background-color: #ee7a22;
}

.play-video img {
    display: block;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.play-video span {
    display: block;
    padding: 5px 0 5px 35px;
    background: url(../img/graphic-icons/video.svg) 0 7px no-repeat;
    -webkit-background-size: auto 24px;
    background-size: auto 24px;
    font-size: 18px;
}

.video-list {
    margin-bottom: 30px;
}

.video-list li {
    width: 31%;
    float: left;
    margin: 0 1% 30px;
}

.video-list li em {
    display: block;
    font-size: 15px;
}

/* Mail templates */

.mail-templates {
    font-size: 0;
}

.mail-templates li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 48%;
    margin: 0 1% 30px;
}

.mail-templates .like-textarea {
    padding: 20px;
    text-align: left;
    background-color: #ee7a22;
    color: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    font-family: "Open Sans Condensed";
    font-style: italic;
    font-size: 18px;
    line-height: 1.4;
    overflow: auto;
    height: 200px;
}

.mail-templates .like-textarea strong {
    color: #fff;
    text-decoration: underline;
    font-weight: 500;
}

.never-regret {
    padding: 0 0 0 150px;
    background: url(../img/never-regret.png) 0 50% no-repeat;
    -webkit-background-size: 120px auto;
    background-size: 120px auto;
}

/* Banners */

.banners {
    float: left;
    width: 100%;
}

.banners li {
    float: left;
    margin: 0 30px 30px 0;
}

.selected-banner {
    text-align: center;
    margin-bottom: 30px;
}

.selected-banner img {
    max-height: 360px;
}

code {
    display: block;
    margin-top: -15px;
    background-color: #e7e7e7;
    text-align: center;
    padding: 10px;
}

/* Prizes */

.prizes {
    text-align: center;
    vertical-align: bottom;
}

.prizes li {
    display: inline-block;
    vertical-align: bottom;
    width: 28%;
    margin: 0 2% 0;
    padding: 20px 10px 31%;
    background: url(../img/additional-prizes.png) 50% 100% no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    color: #045e99;
    text-shadow: 0 0 3px #e7e7e7;
}

.prizes li:first-child {
    padding: 20px 10px 26%;
    background-image: url(../img/prizes/2.png);
    -webkit-background-size: 85% auto;
    background-size: 85% auto;
}

.prizes li:nth-child(2) {
    background-image: url(../img/prizes/1.png);
}

.prizes li:nth-child(3) {
    padding: 20px 10px 21%;
    background-image: url(../img/prizes/3.png);
    -webkit-background-size: 70% auto;
    background-size: 70% auto;
}

.prizes h3 {
    text-align: center;
    font-size: 44px;
}

.prizes .place {
    font-family: "Open Sans Condensed";
    font-size: 22px;
}

.additional-prizes {
    text-align: center;
}

.additional-prizes li {
    display: inline-block;
    width: 14%;
    padding: 65px 10px;
    margin: 0 2% 0;
    padding: 20px 10px 25%;
    background: url(../img/prizes/5.png) 50% 100px no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    color: #045e99;
    text-shadow: 0 0 3px #e7e7e7;
    color: #fff;
}

.additional-prizes li:first-child {
    background-image: url(../img/prizes/5.png);
    -webkit-background-size: 85% auto;
    background-size: 85% auto;
}

.additional-prizes li:nth-child(2) {
    background-image: url(../img/prizes/4.png);
}

.additional-prizes li:nth-child(3) {
    background-image: url(../img/prizes/6.png);
    -webkit-background-size: 70% auto;
    background-size: 70% auto;
}

.additional-prizes h3 {
    font-size: 32px;
}

.additional-prizes .place {
    font-size: 16px;
}

@media (min-width: 640px) and (max-width: 1023px) {

    .w1_2,
    .w1_3,
    .w2_3,
    .w1_4,
    .w3_4 {
        width: 100%;
    }

    .wrapper {
        padding: 0 20px;
        overflow: hidden;
    }

    section.live-results-section button {
        margin-top: 30px;
    }

    .welcome-jv-section {
        min-height: 1px;
        background-position: 100% 0;
        background-image: url(../img/certificates.jpg);
    }

    .welcome-jv-section h1,
    .welcome-jv-section h2,
    .welcome-jv-section .introduction {
        max-width: 100%;
    }

    .welcome-jv-section h2 {
        padding-top: 100px;
    }

    .welcome-jv-section .win-prizes {
        display: none;
    }

    .modal {
        width: 88%;
    }

    #profit-details h1 {
        padding-right: 280px;
    }

    #profit-details .modal {
        -webkit-background-size: 280px auto;
        background-size: 280px auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        font-size: 16px;
    }

    input[type="submit"],
    input[type="button"],
    button {
        font-size: 16px;
    }

    .sticky-form {
        display: none;
    }

    .video-container iframe {
        height: 430px;
    }

    .social-testimonials li {
        position: static;
        display: inline-block;
        width: 46%;
        margin: 0 1% 20px;
    }

    .social-testimonials li:before,
    .social-testimonials li:after {
        display: none;
    }

    /*.motivation {*/
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    /*}*/
    /*.person {*/
    /*position: static;*/
    /*display: block;*/
    /*margin: 0 auto 30px;*/
    /*border-bottom: 3px solid #ee7a22;*/
    /*}*/
    .faq {
        padding: 0 20px;
    }

    .mobile-image {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .profits {
        width: 100%;
        text-align: center;
    }

    .profits li {
        float: none;
        margin-bottom: 0;
    }

    .certificates li {
        width: 33%;
        margin-bottom: 40px;
    }

    .weeks .client {
        width: 100%;
    }

    .weeks .client:before {
        display: none;
    }

    .weeks .client img {
        width: 70px;
    }

    .weeks table,
    .weeks thead,
    .weeks tbody,
    .weeks tr,
    .weeks th {
        width: 100% !important;
        display: block;
    }

    .weeks tr {
        clear: both;
        float: left;
        width: 100%;
    }

    .weeks table td {
        display: block;
        padding: 10px;
        float: left;
        width: 25%;
        border-top: 1px solid #fff;
    }

    dl.profits-list dt {
        margin-bottom: 0;
    }

    dl.profits-list dt,
    dl.profits-list dd {
        float: none;
        width: 100%;
        text-align: left;
    }

    .selected-banner {
        display: none;
    }

}

@media (min-width: 1024px) and (max-width: 1239px) {

    .mobile-image {
        max-width: 40%;
    }

    .profits {
        width: 57%;
    }

}

@media (max-width: 639px) {

    .w1_2,
    .w1_3,
    .w2_3,
    .w1_4,
    .w3_4 {
        width: 100%;
    }

    .wrapper {
        padding: 0 20px;
        overflow: hidden;
    }

    section#timer div.wrapper {
        padding: 0;
    }

    section#investors div.wrapper {
        padding: 5px;
    }

    .play {
        padding: 10px 10px 10px 51px;
    }

    section.live-results-section button {
        margin-top: 30px;
    }

    .welcome-jv-section {
        min-height: 1px;
    }

    .welcome-jv-section h1,
    .welcome-jv-section h2,
    .welcome-jv-section .win-prizes,
    .welcome-jv-section .introduction {
        padding: 0;
        max-width: 100%;
    }

    .welcome-jv-section .introduction {
        margin-bottom: 30px;
    }

    .page-header {
        overflow: visible;
    }

    .page-header .wrapper {
        overflow: visible !important;
    }

    .hamburger {
        display: block;
    }

    .navigation {
        position: fixed;
        top: 85px;
        left: 0;
        width: 100%;
        padding-top: 0;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: -webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        background-color: #ee7a22;
        color: #fff;
    }

    .navigation li {
        display: block;
    }

    .navigation li a {
        display: block;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding: 15px;
        font-size: 16px;
        color: #fff;
    }

    .page-footer .navigation {
        display: none;
    }

    .modal {
        width: 88%;
    }

    #profit-details h1 {
        padding-right: 120px;
    }

    #profit-details .modal {
        -webkit-background-size: 120px auto;
        background-size: 120px auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        font-size: 18px;
    }

    .button-wrapper {
        width: 100%;
        margin-left: 0;
    }

    input[type="submit"],
    input[type="button"],
    button {
        font-size: 18px;
    }

    .sticky-form {
        display: none;
    }

    .video-container iframe {
        height: 230px;
    }

    .social-testimonials li {
        position: static;
        width: 100%;
    }

    .social-testimonials li:before,
    .social-testimonials li:after {
        display: none;
    }

    /*.motivation {*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*}*/
    /*.person {*/
    /*position: static;*/
    /*display: block;*/
    /*margin: 0 auto 30px;*/
    /*border-bottom: 3px solid #ee7a22;*/
    /*}*/
    .faq {
        padding: 0 20px;
    }

    .mobile-image {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .profits {
        width: 100%;
    }

    .profits li {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .certificates li {
        display: block;
        margin-bottom: 50px;
    }

    .weeks .client {
        width: 100%;
    }

    .weeks .client:before {
        display: none;
    }

    .weeks .client img {
        width: 70px;
    }

    .weeks table,
    .weeks thead,
    .weeks tbody,
    .weeks tr,
    .weeks th {
        width: 100% !important;
        display: block;
    }

    .weeks tr {
        clear: both;
        float: left;
        width: 100%;
    }

    .weeks table td {
        display: block;
        padding: 10px;
        float: left;
        width: 50%;
        border-top: 1px solid #fff;
    }

    dl.profits-list dt {
        margin-bottom: 0;
    }

    dl.profits-list dt,
    dl.profits-list dd {
        float: none;
        width: 100%;
        text-align: left;
        font-size: 18px;
    }

    .play-video span {
        font-size: 14px;
    }

    .video-list li {
        width: 46%;
        margin: 0 2% 30px;
    }

    .mail-templates li {
        width: 100%;
        margin: 0 0 30px;
    }

    .never-regret {
        padding: 80px 0 0 0;
        background: url(../img/never-regret.png) 50% 0 no-repeat;
        -webkit-background-size: 80px auto;
        background-size: 80px auto;
    }

    .selected-banner {
        display: none;
    }

    .prizes li {
        width: 100% !important;
        padding-bottom: 55% !important;
        margin: 0 0 30px;
        -webkit-background-size: 50% auto !important;
        background-size: 50% auto !important;
    }

    .additional-prizes li {
        width: 100% !important;
        padding-bottom: 53% !important;
        margin: 0 0 0;
        -webkit-background-size: 28% auto !important;
        background-size: 28% auto !important;
    }

    #register-poke {
        display: none;
    }

}

@-webkit-keyframes asd {

    0% {
        z-index: 2;
    }

    20% {
        z-index: 4;
    }

    100% {
        z-index: 4;
    }

}

@keyframes asd {

    0% {
        z-index: 2;
    }

    20% {
        z-index: 4;
    }

    100% {
        z-index: 4;
    }

}

@-webkit-keyframes turn {

    0% {
        -webkit-transform: rotateX(90deg);
    }

    100% {
        -webkit-transform: rotateX(0deg);
    }

}

@keyframes turn {

    0% {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

}

@-webkit-keyframes turn2 {

    0% {
        -webkit-transform: rotateX(0deg);
    }

    100% {
        -webkit-transform: rotateX(-90deg);
    }

}

@keyframes turn2 {

    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    100% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }

}

@-webkit-keyframes show {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes show {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@-webkit-keyframes hide {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes hide {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@-webkit-keyframes glow {

    50% {
        -webkit-box-shadow: 0 0 14px #fff;
        box-shadow: 0 0 14px #fff;
    }

}

@keyframes glow {

    50% {
        -webkit-box-shadow: 0 0 14px #fff;
        box-shadow: 0 0 14px #fff;
    }

}

@-webkit-keyframes glow-text {

    50% {
        color: #ee7a22;
    }

}

@keyframes glow-text {

    50% {
        color: #ee7a22;
    }

}

@-webkit-keyframes glow-button {

    50% {
        color: #045e99;
        background-color: #FFF;
    }

}

@keyframes glow-button {

    50% {
        color: #045e99;
        background-color: #FFF;
    }

}

.modal h1,
.modal h3,
.modal p {
    text-align: center;
}

.ft-signup,
input[type="submit"] {
    -webkit-appearance: none;
}

/****************************
loader
 ****************************/

.form-loader-container {
    position: relative;
}

.form-loader {
    display: none;
    text-align: center;
}

.form-loader.active {
    background: #252b2e;
    display: block;
    left: -14px;
    position: absolute;
    top: 86px;
}

.loader-gif {
    margin: 30px 0;
}

.loader-gif img {
    box-shadow: none;
}

.loader-text{
    font-size: 16px;
    margin-left: 35px;
}

.rotatingList > li, p.hiddenInner,.bottomRotatingList > li {
    display: none;
}

.rotatingList,.bottomRotatingList {
    text-align: left;
}

strong.success{
    color: #4caf50;
}

.activeNode{
    display: inline !important;
}
/****************************
loader end
 ****************************/
.register-success-section .form-loader {
    height: 370px;
    width: 410px;
}

.register-bottom-section .form-loader {
    height: 370px;
    left: 315px;
    top: 127px;
    width: 610px;
}